---

- name: Configure redis
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^(#\s*)?{{ item.key }} '
    line: '{{ item.key }} {{ item.value }}'
  with_items:
    - key: maxmemory
      value: '{{ redis_maxmemory }}'
    - key: maxmemory-policy
      value: '{{ redis_maxmemory_policy }}'
    - key: bind
      value: '{{ redis_bind }}'
    - key: loglevel
      value: warning
    - key: protected-mode
      value: '{{ redis_protected_mode }}'
    - key: databases
      value: '{{ redis_databases | default(16) | int }}'
  become: true
  notify: Restart_redis

- name: Enable users.acl
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^(#\s*)?aclfile '
    line: aclfile /etc/redis/users.acl
  when: redis_requirepass is defined or redis_sentinel_pass is defined or redis_replica_pass is defined
  become: true
  notify: Restart_redis

- name: Add users.acl
  ansible.builtin.template:
    src: users.acl
    dest: /etc/redis/users.acl
    owner: redis
    group: redis
    mode: '0640'
  become: true
  notify: Restart_redis

- name: Configure masteruser
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^(#\s*)?{{ item.key }} '
    line: '{{ item.key }} {{ item.value }}'
  with_items:
    - key: masterauth
      value: '{{ redis_replica_pass }}'
    - key: masteruser
      value: replica
  when:
    - redis_replica_pass is defined
    - redis_replica_pass | length > 0
  become: true
  notify: Restart_redis

- name: Configure replica
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^(#\s*)?{{ item.key }} '
    line: '{{ item.key }} {{ item.value }}'
  with_items:
    - key: replicaof
      value: '{{ redis_replicaof }} 6379'
  when:
    - redis_replicaof is defined
    - redis_replicaof | length > 0
  become: true
  notify: Restart_redis
