---

- name: Install redis
  ansible.builtin.apt:
    name: redis
    state: present
    default_release: '{{ redis_default_release }}'
    update_cache: true
    cache_valid_time: 3600
  become: true
