---

- name: Import install.yml
  ansible.builtin.import_tasks: install.yml

- name: Import configure.yml
  ansible.builtin.import_tasks: configure.yml

- name: Import tls.yml
  ansible.builtin.import_tasks: tls.yml
  when:
    - redis_tls_cert_file is defined
    - redis_tls_cert_file | length > 0

- name: Import sentinel.yml
  ansible.builtin.import_tasks: sentinel.yml
  when:
    - redis_sentinel_pass is defined
    - redis_sentinel_pass | length > 0

- name: Check if munin-node is installed
  ansible.builtin.command: dpkg -L munin-node
  register: redis_munin_node_check
  changed_when: false
  failed_when: "'command not found' in redis_munin_node_check.stderr"

- name: Import munin-plugin.yml (optional)
  ansible.builtin.import_tasks: munin-plugin.yml
  when: redis_munin_node_check.rc == 0
