---

- name: Install sentinel
  ansible.builtin.apt:
    name: redis-sentinel
    state: present
    default_release: '{{ redis_default_release }}'
    update_cache: true
    cache_valid_time: 3600
  become: true

- name: Configure redis
  ansible.builtin.lineinfile:
    path: /etc/redis/sentinel.conf
    regexp: '^(#\s*)?{{ item.key }} '
    line: '{{ item.key }} {{ item.value }}'
  with_items:
    - key: protected-mode
      value: 'yes'
    - key: sentinel monitor mymaster
      value: '{{ redis_replica_master }} 6379 2'
    - key: sentinel down-after-milliseconds mymaster
      value: 20000
    - key: sentinel auth-pass mymaster
      value: '{{ redis_sentinel_pass }}'
    - key: sentinel auth-user mymaster
      value: sentinel
    - key: requirepass
      value: '{{ redis_sentinel_requirepass }}'
  become: true
  notify: Restart_sentinel
