---

- name: Configure tls
  ansible.builtin.lineinfile:
    path: /etc/redis/redis.conf
    regexp: '^(#\s*)?{{ item.key }} '
    line: '{{ item.key }} {{ item.value }}'
  with_items:
    - key: port
      value: '{{ redis_port }}'
    - key: tls-port
      value: 6379
    - key: tls-auth-clients
      value: optional
    - key: tls-replication
      value: 'yes'
    - key: tls-cluster
      value: 'yes'
    - key: tls-cert-file
      value: '{{ redis_tls_cert_file }}'
    - key: tls-key-file
      value: '{{ redis_tls_key_file }}'
    - key: tls-dh-params-file
      value: '{{ redis_tls_dh_params_file }}'
    - key: tls-ca-cert-dir
      value: '{{ redis_tls_ca_cert_dir }}'
    # https://ssl-config.mozilla.org/#server=redis&version=6.0&config=intermediate&openssl=1.1.1k&guideline=5.6
    - key: tls-protocols
      value: '"TLSv1.2 TLSv1.3"'
    - key: tls-ciphers
      value: ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    - key: tls-ciphersuites
      value: TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    - key: tls-prefer-server-ciphers
      value: 'no'
  become: true
  notify: Restart_redis
